/* ===== Base Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Body ===== */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
  line-height: 1.8;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* ===== Headings ===== */
h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #0f172a;
}

h2 {
  font-size: 1.7rem;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #0f172a;
  border-left: 5px solid #38bdf8;
  padding-left: 12px;
}

/* ===== Paragraphs ===== */
p {
  font-size: 1rem;
  margin-bottom: 16px;
  color: #334155;
}

/* ===== Lists ===== */
ul {
  margin: 15px 0 25px 30px;
}

li {
  margin-bottom: 8px;
  font-size: 0.95rem;
  color: #334155;
}

/*  Code Blocks  */
pre {
  background: #0f172a;
  color: #e5e7eb;
  padding: 18px 20px;
  margin: 20px 0;
  border-radius: 10px;
  overflow-x: auto;
  font-size: 0.9rem;
  line-height: 1.6;
  position: relative;
}

.copy-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #38bdf8;
  color: #0f172a;
  border: none;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.copy-btn:hover {
  background: #0ea5e9;
}

code {
  font-family: Consolas, Monaco, "Courier New", monospace;
}

/*  Inline Code  */
p code,
li code {
  background: #e2e8f0;
  color: #0f172a;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.9rem;
}

/*  Strong Text  */
strong {
  color: #0f172a;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
  font-size: 0.95rem;
}

th, td {
  border: 1px solid #e2e8f0;
  padding: 12px 14px;
  text-align: left;
}

th {
  background: #455b8e;
  color: white;
}

tr:nth-child(even) {
  background: #f1f5f9;
}



/*  Responsive */
@media (max-width: 600px) {
  body {
    padding: 25px 15px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}
